article.event-list-item(ng-controller="EventSingleController")
	.clearfix
		header(ng-class="{'no-image':!event['@files:avatar']}")
			.image(style="background-image:url({{event['@files:avatar'].url}});")
			.main-info
				h3
					a(href="/agenda/{{event.id}}/") {{event.name}}
				p.description(ng-show="event.shortDescription") {{event.shortDescription}}
		section.occurrences
			.occurrence.clearfix(ng-repeat="occur in getOccurrences(event)")
				.date-info
					p.fromNow
						span.entypo &#128340;
						span(fromnow date="occur.timestamp")
					p.date
						span.entypo &#128197;
						| {{occur.startsOn}} {{occur.startsAt}}
				p.space
					span.entypo &#59172;
					| {{service.getOccurrenceSpace(occur).name}}