section#news
	article#featured.feat(style="background-image:url(http://lorempixel.com/900/450)")
		header
			h2 In vel mi purus. Donec fringilla eros ut fringilla malesuada.
	article#second.feat(style="background-image:url(http://lorempixel.com/500/500)")
		header
			h2 Donec fringilla eros ut fringilla.
section#events(ng-controller="EventListController")
	header
		h2 Agenda
		h3 Próximos eventos
	.event-list
		article.event-item(ng-repeat="event in service.getFutureEvents(3)")
			header
				a(href="/eventos/{{event.id}}/")
					img(src="{{event['@files:avatar'].url}}")
				p.space {{service.getEventSpace(event).name}}
				h3
					a(href="/eventos/{{event.id}}/") {{event.name}}
			section.info
				p.fromNow {{service.getEventMoment(event).from(service.getToday())}}
				p.date {{event.startsOn}} {{event.startsAt}}