article#featured(style="background-image:url(http://lorempixel.com/900/450)")
	header
		h2 In vel mi purus. Donec fringilla eros ut fringilla malesuada.
article#second(style="background-image:url(http://lorempixel.com/500/500)")
	header
		h2 Donec fringilla eros ut fringilla.
section#events
	header
		h2 Agenda
		h3 Próximos eventos
	.event-list
		article.event-item(style="background-image:url(http://lorempixel.com/300/300?1)")
			header
				h3 Lorem ipsum dolor sit
		article.event-item(style="background-image:url(http://lorempixel.com/300/300?2)")
			header
				h3 Lorem ipsum dolor sit
		article.event-item(style="background-image:url(http://lorempixel.com/300/300?3)")
			header
				h3 Lorem ipsum dolor sit
