script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js')
script(type='text/javascript', src='/vendor.js')
script(type='text/javascript', src='/app.js')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald:400,300,700')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700')
link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
link(rel='stylesheet', href='/css/responsive.css')
link(rel='stylesheet', href='/css/angular-pickadate.css')