doctype html
html(lang='pt-BR')
	head
		title Mês da Cultura Independente
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald:400,300,700')
		link(rel='stylesheet', href='/css/base.css')
		link(rel='stylesheet', href='/css/skeleton.css')
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/css/angular-pickadate.css')
	body
		header#masthead
			h1
				a(href="/")
					span Mês da Cultura Independente
					img(src='/img/logo.png' alt='Mês da Cultura Independente')
			h2
				span setembro/
				| 2014
			nav#mastnav
				ul
					li
						a(href="/" title="Página inicial")
							span.entypo &#8962;
					li
						a(href="/eventos/" title="Eventos")
							span.entypo &#128197;
					li
						a(href="/" title="Notícias")
							span.entypo &#128196;
					li
						a(href="/" title="Imprensa")
							span.entypo &#128240;
		section#content(ui-view, autoscroll='true')
		script(type='text/javascript', src='/vendor.js')
		script(type='text/javascript', src='/app.js')