@import "functions.less";

@media screen and (max-width: 1299px) {

	#masthead {
		width: 191px;
		padding: 30px;
		h2 {
			font-size: 50px;
		}
		#mastnav {
			ul {
				li {
					.entypo {
						font-size: 60px;
						line-height: 60px;
					}
				}
			}
		}
	}

	#content {
		margin-left: 231px;
	}

	.main-header {
		h1 {
			font-size: 32px;
			line-height: 40px;
		}
	}

}

@media screen and (max-width: 1200px) {

	#masthead {
		display: none;
	}

	#content {
		margin-left: 40px;
	}

}