section#list-event
	header.list-header.main-header.clearfix
		h1 Eventos
		include partials/filters

	section#event-list.main-content
		section.event-results(ng-show="isEventFiltering()")
			ul.event-list
				li.clearfix(ng-repeat="event in (filteredEvents = (events | filter:eventFilter:strict)) | offset: eventNav.perPage * eventNav.curPage | limitTo: eventNav.perPage" ng-click="accessEvent(event)")
					include partials/event-list-item
			nav
				a(ng-click="eventNav.nextPage()") proxima
				a(ng-click="eventNav.prevPage()") anterior

		include partials/featured

		#linguagens
			h2 Navegue pelas linguagens
			ul.linguagem-list.clearfix
				li(ng-repeat="linguagem in linguagens")
					a(href="javascript:void(0);" ng-click="eventSearch.terms = linguagem") {{linguagem}}
					
		#spaces.clearfix
			header.spaces-header
				h2 Navegue pelos espaços
				input(type="text" ng-model="spaceSearch.name" placeholder="Busque por um espaço...")
			ul.space-list.clearfix
				li(ng-repeat="space in (filteredSpaces = (spaces | filter:spaceSearch:strict)) | orderBy: '_distance' | offset: spaceNav.perPage * spaceNav.curPage | limitTo: spaceNav.perPage")
					article.space
						header
							h3 {{space.name}}
							p.distance(ng-show="space._distance && space._distance < 60000")
								strong {{space.kmDistance}} km 
								| de você
			nav
				a(ng-click="spaceNav.nextPage()") proxima
				a(ng-click="spaceNav.prevPage()") anterior