h2 {{space.name}}
p.locate-user
	a(href="javascript:void(0);" ng-click="locateUser('dialog-map')") Minha localização
leaflet#dialog-map(defaults="map.defaults" markers="map.markers" paths="map.paths" center="map.center")