section#single-event(ng-controller="EventController")
	header.event-header.main-header.clearfix(ng-class="{'with-image': event['@files:avatar'].url}")
		.clearfix
			.image(style="background-image:url({{event['@files:avatar'].url}});")
			h2
				a(href="/agenda/") Agenda
			h1 {{event.name}}
		.next-occurrence.clearfix(ng-show="featOccur || event.occurrences.length == 1")

			.clearfix
				.date-info
					p.fromNow(ng-show="featOccur.isFuture")
						span.entypo &#128340;
						span(fromnow date="featOccur.timestamp")
					p.past-event(ng-hide="featOccur.isFuture") Este evento já aconteceu
					p.date
						span.entypo &#128197;
						| {{getFormattedDate(featOccur)}}
				p.space
					span.entypo &#59172;
					| {{featOccur.spaceName}}
					span.address {{featOccur.space.endereco}}

			.map(ng-controller="MapController" ng-init="initMap(featOccur, mapOptions)")
				leaflet#main-map(defaults="map.defaults" markers="map.markers" paths="map.paths" center="map.center" ng-class="{open:map.open}")
					p.toggle-map(ng-click="map.toggle()") {{map.toggleLabel}}

		p.past-event(ng-hide="featOccur") Este evento já aconteceu
	aside#event-sidebar(ng-show="event.occurrences.length>1 || event.terms.tag")
		#event-agenda.event-occurrences(ng-show="event.occurrences.length>1")
			h2 Agenda
			ul
				li.clearfix(ng-repeat="occur in event.occurrences" ng-class="{future:occur.isFuture}")
					.date-info
						p.fromNow
							span.entypo &#128340;
							span(fromnow date="occur.timestamp")
						p.date
							span.entypo &#128197;
							| {{getFormattedDate(occur)}}
					p.space(ng-controller="MapController" ng-click="openDialog($event, occur)")
						span.entypo &#59172;
						| {{occur.spaceName}}

		#event-tags(ng-show="event.terms.tag")
			.tag(ng-repeat="tag in event.terms.tag" ng-show="service.getTagDescription(tag)")
				h3
					a(href="javascript:void(0)" ng-click="accessTag(tag)") {{tag}}
				p {{service.getTagDescription(tag)}}

			p.all-tags
				| Tags: 
				span(ng-repeat="tag in event.terms.tag" ng-hide="service.getTagDescription(tag)")
					a(href="javascript:void(0);" ng-click="accessTag(tag)") {{tag}}
					| {{$last ? '' : ', '}}

	section#event-description.event-content.main-content
		p(ng-show="description") {{description}}
	section#gallery(ng-show="event['@files:gallery']")
		h2 Galeria de fotos
		ul(masonry)
			li.masonry-brick(ng-repeat="photo in event['@files:gallery']")
				img(ng-src="{{photo.url}}")